# Add files here to ignore them from prettier formatting
/dist
/coverage
/node_modules
pnpm-lock.yaml
libs/web/data-access-graphql/src/lib/generated
libs/api/generated-db-types
apps/web/.next
libs/api/generated-db-types
