[Unit]
Description=api

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStart=/usr/bin/npm run serve:api
WorkingDirectory=/mnt/Data/Projects/Learning/next-nest-boilerplate

[Install]
WantedBy=multi-user.target
