[Unit]
Description=web

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStart=/usr/bin/pnpm run serve:web
WorkingDirectory=/mnt/Data/Projects/Learning/next-nest-boilerplate

[Install]
WantedBy=multi-user.target
