[Unit]
Description=web

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStart=/usr/bin/npm run serve:web
WorkingDirectory=/home/yuriy_lipchey_work/nest-next-boilerplate

[Install]
WantedBy=multi-user.target
